<style>
    .back{
        position: absolute;
        top: 15%;
        left: 0;
        display: flex;
        gap: 5px;
    }
    .between{
        color: rgba(98, 51, 185, 255);
    }
    .color-btn{
        color: white;
        text-decoration: none;
    }
    .color-btn:hover{
        text-decoration: underline;
    }
    .lightTheme{
        .color-btn{
            color: #0d49d7;
        }
    }
</style>
<div class="back">
    <br><a href="/" class="color-btn">Главная</a>
    <a class="between">/</a>
    <a href="#" class="back-button color-btn" onclick="goBack()">Назад</a>
</div>