<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HFFreelance | Условия для клиентов</title>
    <link rel="icon" type="image/png" href="/images/logo2.png">
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
            color: #333;
        }
        h3 {
            color: #2c3e50;
        }
        b {
            color: #2980b9;
        }
        p {
            margin: 10px 0 20px;
        }
        .details-container {
            max-width: 800px;
            margin: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -20%);
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
<main>
    <%- include('header.ejs') %>
    <div class="details-container">
        <h3>Условия для клиентов при заказе веб-сайта могут включать различные аспекты, вот некоторые из них:</h3>

        <b>Объем работы и функциональность:</b>
        <p>
            Определение конкретных требований к сайту, таких как количество страниц,
            функциональные возможности (например, интерактивные элементы, формы обратной связи,
            корзина покупок для электронной коммерции и т. д.).
        </p>

        <b>Дизайн и макет:</b>
        <p>
            Уточнение предпочтений клиента относительно внешнего вида и пользовательского интерфейса сайта,
            включая цветовую схему, типографику, расположение элементов и т. д.
        </p>

        <b>Содержание:</b>
        <p>
            Определение того, кто будет предоставлять текстовый контент и изображения для сайта,
            и уточнение сроков предоставления этого контента.
        </p>

        <b>Сроки и бюджет:</b>
        <p>
            Установление сроков выполнения проекта и обсуждение бюджета,
            в том числе возможных штрафов или бонусов за соблюдение или нарушение сроков.
        </p>

        <b>Поддержка и обслуживание:</b>
        <p>
            Условия по поддержке сайта после его развертывания, такие как обновления контента,
            техническая поддержка, резервное копирование данных и т. д.
        </p>

        <b>Интеллектуальная собственность и права:</b>
        <p>
            Установление прав на интеллектуальную собственность, включая авторские права на дизайн и контент,
            а также права на исходный код и другие разработанные компоненты.
        </p>

        <b>Условия платежа:</b>
        <p>
            Определение методов оплаты, графика платежей и условий возврата депозита или отмены заказа.
        </p>
    </div>
</main>
</body>
</html>
