<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HFFreelancers | Политика конфиденциальности</title>
    <link rel="stylesheet" href="/stylesheets/main2.css">
    <link rel="icon" type="image/png" href="/images/logo2.png">
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .privacyPolicy-container {
        max-width: 800px;
        margin: 70px auto;
        padding: 20px;
    }

    .section {
        margin-bottom: 40px;
    }

    h2 {
        color: #333;
        font-size: 24px;
    }

    ol {
        padding-left: 20px;
    }

    ol li {
        margin-bottom: 10px;
        line-height: 1.5;
    }

</style>
<body>
<%- include('header.ejs') %>
<main>
    <br>
    <%- include('back.ejs') %>
    <div class="privacyPolicy-container">
        <div class="section">
            <h2>Политика конфиденциальности</h2>
            <ol>
                <li>Сбор и использование информации: Мы собираем только ту информацию, которая необходима для оказания услуг нашего сайта. Это может включать в себя имя, адрес электронной почты, IP-адрес и другие данные, которые вы предоставляете нам добровольно.</li>
                <li>Хранение и защита данных: Мы обеспечиваем безопасное хранение ваших данных и применяем соответствующие меры безопасности для защиты их от несанкционированного доступа или утраты.</li>
                <li>Предоставление данных третьим лицам: Ваши данные могут быть предоставлены третьим лицам только в случаях, предусмотренных законодательством, или при вашем явном согласии.</li>
                <li>Права пользователей: Вы имеете право запросить доступ к вашим личным данным, их исправление или удаление. Вы также можете отозвать свое согласие на обработку данных в любое время.</li>
                <li>Изменения в политике конфиденциальности: Мы оставляем за собой право вносить изменения в нашу политику конфиденциальности. В случае внесения изменений, мы уведомим вас об этом нашими средствами связи.</li>
            </ol>
        </div>
    </div>
</main>
<%- include('footer.ejs') %>
</body>
</html>
