<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    header{
        width: 100%;
        height: 80px;
        background: rgb(32,30,32);
        background: linear-gradient(184deg, rgba(32,30,32,1) 54%, rgba(16,16,17,1) 76%);
        position: fixed;
        top: 0;
        z-index: 2;
        transition: top 0.3s;
    }
    img {
        width: 60px;
        height: 60px;
        border-radius: 10px;
    }
    .container-logo{
        display: flex;
        padding: 3px;
        z-index: 2;
        margin: 5px 100px;
    }
    .logo{
        color: #21f0df;
        font-weight: 1000;
        margin: 10px;
        position: absolute;
        top: 12%;
    }
    .get{
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 1%;
        right: 10%;
    }
    #headerSection li{
        margin: 20px 10px;
        list-style-type: none;
        background: none;
        border: none;
    }
    .ha{
        background: none;
        text-decoration: none;
        color: #fff;
    }
    .ha:hover{
        color: #a2a8d3;
    }
    a{
        text-decoration: none;
        cursor: pointer;
    }
    @media (max-width: 900px) {
        .ha{
            display: none;
        }
        .logo{
            display: none;
        }
    }
</style>
<body>
<header>
    <div class="container-logo">
        <a href="/"><img src="../../images/logo2.png"></a>
        <h2><a class="logo" href="/">ğ“—ğ“•ğ“•ğ“»ğ“®ğ“®ğ“µğ“ªğ“·ğ“¬ğ“®ğ“»ğ“¼</a></h2>
    </div>
    <div id="headerSection">
        <ul class="get">
            <li><a href="allUsers" class="ha" id="allUsers">Ğ¡Ğ¿Ğ¸ÑĞ¾Ğº Ğ¿Ğ¾Ğ»ÑŒĞ·Ğ¾Ğ²Ğ°Ñ‚ĞµĞ»ĞµĞ¹</a></li>
            <li><a href="sendNews" class="ha" id="news">Ğ¡Ğ¾Ğ·Ğ´Ğ°Ñ‚ÑŒ Ğ½Ğ¾Ğ²Ğ¾ÑÑ‚ÑŒ</a></li>
            <li><a href="allNews" class="ha" id="allNews">Ğ›ĞµĞ½Ñ‚Ğ° Ğ½Ğ¾Ğ²Ğ¾ÑÑ‚ĞµĞ¹</a></li>
            <li><a href="sendLinks" class="ha" id="sendLinks">ĞĞ±Ğ½Ğ¾Ğ²Ğ¸Ñ‚ÑŒ ĞºĞ¾Ğ½Ñ‚Ğ°ĞºÑ‚Ñ‹</a></li>
            <li><a href="requestUnban" class="ha" id="requestUnban">Ğ—Ğ°ÑĞ²ĞºĞ¸ Ğ½Ğ° Ñ€Ğ°Ğ·Ğ±Ğ°Ğ½</a></li>
        </ul>
    </div>
</header>
<script src="/javascripts/timer.js"></script>
<script src="/javascripts/adminScript.js"></script>