<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HFFreelancers | Examination</title>
    <link rel="stylesheet" href="/stylesheets/getTokenLight.css">
    <link rel="icon" type="image/png" href="/images/logo2.png">
</head>
<body>
<div class="progress">
    <div class="inner"></div>
</div>
<p class="pi">Page loading...</p>
<script src="/javascripts/token.js"></script>
<script>
    function theme(){
        const theme = localStorage.getItem('theme');
        if (theme === 'dark') {
            document.body.classList.remove('lightTheme');
            divTheme.checked = false;
        }
        else{
            document.body.classList.add('lightTheme');
            divTheme.checked = true;
        }
    }
    theme();
</script>
</body>
</html>