<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f9;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .errors {
        text-align: center;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        padding: 20px;
        max-width: 500px;
        width: 100%;
    }

    h2 {
        color: #e74c3c;
        font-size: 24px;
        margin: 0 0 20px;
    }

    section {
        margin-top: 20px;
    }

    .errorButton{
        border: none;
        background: none;
        color: #24527a;
        font-size: 15px;
        cursor: pointer;
    }
    .errorButton:hover{
        text-decoration: underline;
    }

    #section {
        margin-top: 20px;
    }

    h1 {
        font-size: 20px;
        color: #333;
    }

    h5 {
        color: #666;
    }

    pre {
        text-align: left;
        background: #f9f9f9;
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 4px;
        overflow-x: auto;
    }
</style>

<div class="errors">
    <h2 id="err">Ой, кажется, у нас возникли проблемы :(</h2>
    <section id="info">
        <button id="onSec" class="errorButton">Подробнее</button>
        <button id="back" class="errorButton">Назад</button>
    </section>
    <section id="section" hidden>
        <h1><%= message %></h1>
        <h5>Статус ошибки: <%= error.status %></h5>
        <pre><%= error.message %></pre>
        <button id="closeInfo" class="errorButton">Закрыть</button>
    </section>
</div>

<script>
    const section = document.getElementById('section');
    const info = document.getElementById('info');
    const err = document.getElementById('err');
    document.getElementById('back').addEventListener('click', () => {
        if(localStorage.getItem('ref') === 'refPersonalArea'){
            window.history.back();
            window.history.back();
        }
        else{
            window.history.back();
        }
    })
    document.getElementById('onSec').addEventListener('click', () => {
        section.hidden = false;
        info.hidden = true;
        err.hidden = true;
    })

    document.getElementById('closeInfo').addEventListener('click', () => {
        section.hidden = true;
        info.hidden = false;
        err.hidden = false;
    })
</script>