<style>
    .errors{
        text-align: center;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .errorButton{
        border: none;
        background: none;
        color: #24527a;
        font-size: 15px;
        cursor: pointer;
    }
    .errorButton:hover{
        text-decoration: underline;
    }
</style>
<div class="errors">
    <h2 id="err">Ой, кажется, у нас возникли проблемы :(</h2>
    <section id="info">
        <button id="onSec" class="errorButton">Узнать подробнее</button>
        <button id="back" class="errorButton">Назад</button>
    </section>
    <section id="section" hidden>
        <h1><%= message %></h1>
        <h5>Статус ошибки: <%= error.status %></h5>
        <pre><%= error.message %></pre>
        <button id="closeInfo" class="errorButton">Закрыть</button>
    </section>
</div>
<script>
    const section = document.getElementById('section');
    const info = document.getElementById('info');
    const err = document.getElementById('err');
    document.getElementById('back').addEventListener('click', () => {
        if(localStorage.getItem('ref') === 'refPersonalArea'){
            window.history.back();
            window.history.back();
        }
        else{
            window.history.back();
        }
    })
    document.getElementById('onSec').addEventListener('click', () => {
        section.hidden = false;
        info.hidden = true;
        err.hidden = true;
    })

    document.getElementById('closeInfo').addEventListener('click', () => {
        section.hidden = true;
        info.hidden = false;
        err.hidden = false;
    })
</script>