<div class="r-container">
    <div class="r-info">
        <h3 class="r-name">Konstantin</h3>
        <img src="https://t3.ftcdn.net/jpg/05/66/27/56/360_F_566275602_ewJ3sgEV27DQhETyuen8JHrVFM90rBhm.jpg" class="main-image">
        <p class="r-comment">Очень хорошая тех поддержка</p>
        <div class="grade-data">
            <div class="grade">
                <p>&#11088;</p>
                <p>&#11088;</p>
                <p>&#11088;</p>
                <p>&#11088;</p>
                <p>&#11088;</p>
            </div>
            <p>15.05.2024</p>
        </div>
    </div>

    <div class="r-info">
        <h3 class="r-name">omega3</h3>
        <img src="https://gratisography.com/wp-content/uploads/2024/01/gratisography-cyber-kitty-800x525.jpg" class="main-image">
        <p class="r-comment">Спасибо <3</p>
        <div class="grade-data">
            <div class="grade">
                <p>&#11088;</p>
                <p>&#11088;</p>
                <p>&#11088;</p>
                <p>&#11088;</p>
                <p>&#11088;</p>
            </div>
            <p>1.06.2024</p>
        </div>
    </div>

    <div class="r-info">
        <h3 class="r-name">Ева</h3>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMcLiu_ghHWiotSAqIvjD_dAisafOktqh3GIFK7r7k0A&s" class="main-image">
        <p class="r-comment">Спасибо вам большое</p>
        <div class="grade-data">
            <div class="grade">
                <p>&#11088;</p>
                <p>&#11088;</p>
                <p>&#11088;</p>
                <p>&#11088;</p>
                <p>&#11088;</p>
            </div>
            <p>10.03.2024</p>
        </div>
    </div>
</div>





