1<link rel="stylesheet" href="/stylesheets/alert.css">
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    header{
        width: 100%;
        height: 80px;
        background: rgb(32,30,32);
        background: linear-gradient(184deg, rgba(32,30,32,1) 54%, rgba(16,16,17,1) 76%);
        position: fixed;
        top: 0;
        z-index: 2;
        transition: top 0.3s;
    }
    img {
        width: 60px;
        height: 60px;
        border-radius: 10px;
    }
    .container-logo{
        display: flex;
        padding: 10px;
        z-index: 2;
        margin: 0 100px;
    }
    .logo{
        color: #21f0df;
        font-weight: 1000;
        margin: 10px;
        position: absolute;
        top: 12%;
    }
    .get{
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 1%;
        right: 10%;
    }
    li{
        margin: 20px 10px;
        list-style-type: none;
    }
    .ha{
        text-decoration: none;
        color: #fff;
    }
    .ha:hover{
        color: #a2a8d3;
    }
    #account{
        color: #fff;
        cursor: pointer;
        margin-left: 50px;
    }
    #account:hover{
        color: #a2a8d3;
    }
    a{
        text-decoration: none;
    }
    #account-img{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-top: 5px;
        cursor: pointer;
    }
    @media (max-width: 900px) {
        .ha{
            display: none;
        }
        .logo{
            display: none;
        }
        #account{
            display: flex;
        }
    }
</style>
<body>
<header>
    <div class="container-logo">
        <a href="/"><img src="../images/logo2.png"></a>
        <h2><a class="logo" href="/">ğ“—ğ“•ğ“•ğ“»ğ“®ğ“®ğ“µğ“ªğ“·ğ“¬ğ“®ğ“»ğ“¼</a></h2>
    </div>
    <div id="headerSection" hidden>
    <ul class="get">
        <li id="account">ĞœĞ¾Ğ¹ Ğ°ĞºĞºĞ°ÑƒĞ½Ñ‚</li>
        <img src="" id="account-img" onclick="PersonalAreaJoin()">
        <li><a href="#home" class="ha">Ğ“Ğ»Ğ°Ğ²Ğ½Ğ°Ñ</a></li>
        <li><a href="#about" class="ha">Ğ ÑĞ°Ğ¹Ñ‚Ğµ</a></li>
        <li><a href="#services" class="ha">Ğ£ÑĞ»ÑƒĞ³Ğ¸</a></li>
        <li><a href="#reviews" class="ha">ĞÑ‚Ğ·Ñ‹Ğ²Ñ‹</a></li>
        <li><a href="#footerSection" class="ha">ĞšĞ¾Ğ½Ñ‚Ğ°ĞºÑ‚Ñ‹</a></li>
    </ul>
    </div>
</header>
<%- include('back.ejs') %>
<script src="/javascripts/header.js"></script>