<%- include('header.ejs') %>
<br>
<br>
<br>
<main id="mainContainer">
</main>
<script src="/javascripts/script.js" defer></script>
<script src="/javascripts/index.js" defer></script>

<%- include('footer.ejs') %>