<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HFFreelance | Правила</title>
    <link rel="stylesheet" href="/stylesheets/main2.css">
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .rules-container {
        max-width: 800px;
        margin: 70px auto;
        padding: 20px;
    }

    .section {
        margin-bottom: 40px;
    }

    h2 {
        color: #333;
        font-size: 24px;
    }

    ol {
        padding-left: 20px;
    }

    ol li {
        margin-bottom: 10px;
        line-height: 1.5;
    }

</style>
<body>
<%- include('header.ejs') %>
<main>
    <%- include('back.ejs') %>
    <div class="rules-container">
        <div class="section">
            <h2>Правила использования</h2>
            <ol>
                <li>Цели сайта: Сайт HFFreelance предназначен для предоставления информации о наших услугах веб-разработки, продажи готовых веб-проектов и возможностей заказа индивидуальных разработок.</li>
                <li>Права и обязанности пользователей: Пользователи обязуются соблюдать действующее законодательство при использовании нашего сайта. Запрещается размещение недобросовестной или вредоносной информации, нарушение авторских прав, а также использование сайта в целях незаконной деятельности.</li>
                <li>Интеллектуальная собственность: Весь контент, размещенный на сайте HFFreelance, защищен законом об авторских правах. Перепечатка, копирование или использование материалов сайта без согласия правообладателя запрещено.</li>
                <li>Ограничение ответственности: Администрация сайта HFFreelance не несет ответственности за убытки или ущерб, возникшие в результате использования информации, предоставленной на сайте. Мы не гарантируем полноту, точность или актуальность предоставленных данных.</li>
                <li>Ссылки на сторонние ресурсы: Наш сайт может содержать ссылки на сторонние ресурсы, но мы не несем ответственности за содержимое или политику конфиденциальности этих ресурсов. Пользование ими осуществляется на ваш риск.</li>
            </ol>
        </div>
    </div>
</main>
<%- include('footer.ejs') %>
</body>
</html>
