<style>
    .back{
        position: absolute;
        top: 15%;
        left: 0;
        display: flex;
        gap: 5px;
    }
    .between{
        color: black;
    }
    .color-btn{
        color: #0d49d7;
        text-decoration: none;
    }
    .color-btn:hover{
        text-decoration: underline;
    }
</style>
<div class="back">
    <br><a href="/" class="color-btn">Home</a>
    <a class="between">/</a>
    <a href="#" class="back-button color-btn" onclick="goBack()">Back</a>
</div>
<script>
    function goBack() {
        const id = localStorage.getItem('id')
        if (window.location.pathname === `/sendReviews/${id}` || window.location.pathname === '/PersonalArea') {
            window.history.back();
            window.history.back();
        }
        else{
            window.history.back();
        }
    }
</script>