<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HFFreelance | Terms for clients</title>
    <link rel="icon" type="image/png" href="/images/logo2.png">
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
            color: #333;
        }
        h3 {
            color: #2c3e50;
        }
        b {
            color: #2980b9;
        }
        p {
            margin: 10px 0 20px;
        }
        .details-container {
            max-width: 800px;
            margin: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -20%);
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
<main>
    <%- include('header.ejs') %>
    <div class="details-container">
        <h3>Conditions for clients when ordering a website may include various aspects, here are some of them:</h3>

        <b>Scope of Work and Functionality:</b>
        <p>
            Defining specific site requirements, such as the number of pages,
            functional features (e.g., interactive elements, contact forms,
            shopping cart for e-commerce, etc.).
        </p>

        <b>Design and Layout:</b>
        <p>
            Clarifying the client's preferences regarding the appearance and user interface of the site,
            including color scheme, typography, element placement, etc.
        </p>

        <b>Content:</b>
        <p>
            Determining who will provide the textual content and images for the site,
            and specifying deadlines for providing this content.
        </p>

        <b>Deadlines and Budget:</b>
        <p>
            Setting project completion deadlines and discussing the budget,
            including possible penalties or bonuses for meeting or missing deadlines.
        </p>

        <b>Support and Maintenance:</b>
        <p>
            Conditions for website support after deployment, such as content updates,
            technical support, data backup, etc.
        </p>

        <b>Intellectual Property and Rights:</b>
        <p>
            Establishing intellectual property rights, including copyrights on design and content,
            as well as rights to source code and other developed components.
        </p>

        <b>Payment Terms:</b>
        <p>
            Defining payment methods, payment schedule, and conditions for deposit refunds or order cancellations.
        </p>
    </div>
</main>

</body>
</html>
