body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    flex-direction: column;
    max-height: 100vh;
    background-color: #dadde2;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
main{
    flex: 1;
}
#contact label,
#contact textarea,
#contact input[type="email"],
#contact input[type="text"] {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

#contact textarea {
    height: 150px;
}

#contact button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#contact button:hover {
    background-color: #45a049;
}

.imagesPositions{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(32,30,32);
    background: linear-gradient(184deg, rgba(32,30,32,1) 54%, rgba(16,16,17,1) 76%);
    flex-wrap: wrap;
}
.info{
    position: absolute;
    top: 35%;
    margin: 0 100px;
    font-weight: 1000;
    font-size: 20px;
    z-index: 1;
    flex-wrap: wrap;
}
.freelance{
    font-weight:1000;
    font-size: 60px;
    color: #21f0df;
}
.br{
    margin: clamp(800px, 5vw, 1000px);
}
.about-container{
    display: flex;
    flex-wrap: wrap;
}
.about-info{
    margin: 10px 100px;
    background-color: #F0F0F0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
.about-padding{
    padding: 20px 20px;
}
.about-padding p {
    color: #666;
}
.buy-btn{
    background-color: #4CAF50;
    color: white;
    padding: 16px 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.buy-btn:hover{
    background-color: #2ecc71;
}
.font-weight{
    font-weight: 1000;
}

.data{
    margin-right: 10%;
    margin-top: 12px;
}
.our-data{
    background: rgb(13,24,74);
    background: linear-gradient(297deg, rgba(13,24,74,1) 95%, rgba(58,58,102,1) 100%);
    height: 180px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    z-index: 1;
}
.our-data-color{
    color: white;
}
.our-data-padding{
    padding: 20px 20px;
}


.our-contact{
    background: rgb(13,24,74);
    background: linear-gradient(297deg, rgba(13,24,74,1) 95%, rgba(58,58,102,1) 100%);
    height: 180px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    transform: rotate(20deg);
}
.our-contact-color{
    text-align: end;
    color: white;
}
.our-contact-padding{
    padding: 20px 20px;
}


.content {
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 20px;
    background-color: #F0F0F0;
    max-width: 600px;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
.services-container {
    /*max-width: 1200px;*/
    margin: 0 auto;
    padding: 0 20px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 1);*/
}
.services-container p {
    color: #666e76;
}
h1, h2, h3 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

.order-btn {
    background-color: #468faf;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.order-btn:hover {
    background-color: #2c698d;
}




.line{
    border-top: 1px solid #f4f2f8;
    position: relative;
    /*left: 50%;*/
    /*transform: translate(-50%);*/
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    /*text-align: center;*/
    width: 72%;
}
.company-name{
    margin-left: 200px;
    color: #6c757d;
}
footer {
    /*background: rgb(0,16,23);*/
    /*background: linear-gradient(260deg, rgba(0,16,23,1) 69%, rgba(0,51,74,1) 97%);*/
    background: rgb(32,30,32);
    background: linear-gradient(184deg, rgba(32,30,32,1) 54%, rgba(16,16,17,1) 76%);
    color: white;
    padding: 20px 0;
    width: 100%;
    margin-bottom: auto;
    position: relative;
    bottom: 0;
    left: 0;
}

footer a {
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: #F2F2F2;
    text-decoration: underline;
}
footer p {
    color: #F2F2F2
}
.footer-links {
    display: flex;
    margin: 20px 200px;
}
.footer-our-company{
    width: 350px;
    flex-wrap: wrap;
}
.footer-info{
    display: grid;
    gap: 10px;
    margin-left: 50px;
}
.footer-contacts{
    display: grid;
    gap: 10px;
    margin-left: 50px;
}
.footer-links a {
    margin-right: 20px;
}

.footer-links a:last-child {
    margin-right: 0;
}
.company-logo{
    width: 30px;
    height: 30px;
}



.carousel {
    display: flex;
    overflow: hidden;
}

.slide {
    flex: 0 0 100%;
    transition: transform 0.5s ease;
}

.active {
    transform: translateX(0);
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}


.menu-items {
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 0 0;
    position: relative;
    right: 50px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
    border-radius: 10px;
}

.menu-items li {
    border-bottom: 1px solid #ddd;
}

.menu-items li:last-child {
    border-bottom: none;
}

.menu-items a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
}

.menu:hover .menu-items {
    max-height: 500px;
}

#myname{
    color: #2a2b2f;
    cursor: pointer;
}
#myname:hover{
    color: #0b0b0b;
}

.reviews-gradient {
    background-image: linear-gradient(to right, #ff8a00, #e52e71);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
}
.rTwo-container{
    display: flex;
    margin-top: 20px;
    margin-bottom: 100px;
    gap: 50px;
    max-width: 1000px;
    justify-content: start;
}
.r-container{
    display: flex;
    margin-top: 20px;
    margin-bottom: 100px;
    gap: 50px;
    max-width: 9700px;
    justify-content: center;
}
.r-info{
    padding: 20px;
    text-align: center;
    background-color: white;
    width: 250px;
    min-height: 100px;
    height: auto;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.r-comment {
    color: #666;
    word-wrap: break-word;
}
.send-reviews{
    background-color: #468faf;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.send-reviews:hover{
    background-color: #012a4a;
}
.r-name{
    color: #0d49d7;
}
.main-image{
    width: 120px;
    height: 120px;
    border-radius: 100px;
}

#moreReviews{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: #468faf;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 100px;
}
#moreReviews:hover{
    background-color: #012a4a;
}
@media (max-width: 1500px) {
    /*.about-container{*/
    /*    width: 800px;*/
    /*    flex-wrap: wrap;*/
    /*    margin: auto 220px;*/
    /*}*/
    /*.data{*/
    /*    margin: 20px 100px;*/
    /*}*/
    /*.content{*/
    /*    position: relative;*/
    /*    left: 25%;*/
    /*}*/
    body{
        overflow-x: auto;
    }
}
@media (max-width: 1400px) {
    .r-container{
        display: block;
        width: 800px;
        position: relative;
        left: 1%;
    }
    .r-info{
        display: none;
    }
    .reviews-gradient{
        text-align: start;
        margin: 0 150px;
    }
    .moreReviews{
        display: block;
        margin-right: 1000px;
    }
    .content{
        max-width: 400px;
    }
}
@media (max-width: 1200px) {
    .footer-links{
        display: block;
        margin: 20px 100px;
    }
    .company-name, .line{
        margin: 20px 100px;
    }
}
.grade{
    display: flex;
    justify-content: center;
}
.grade-data{
    display: block;
    gap: 5px;
    justify-content: center;
}

.telegram{
    width: 30px;
    height: 30px;
    margin: 5px 5px;
    cursor: pointer;
    background: none;
}

.telegram-button{
    width: 120px;
    height: 40px;
    border-color: #4caf50;
    cursor: pointer;
    border-radius: 5px;
    background-color: #4caf50;
}




.buy-button {
    display: inline-block;
    width: 150px;
    height: 40px;
    /*border-radius: 10px;*/
    border: 1px solid #03045e;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
    cursor: pointer;
    background-color: #468faf;
}

.buy-button::before,
.buy-button::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
}

.buy-button::before {
    left: -10px;
    background: #240046;
}

.buy-button::after {
    right: -10px;
    background: #5a189a;
}

.buy-button:hover::before,
.buy-button:hover::after {
    width: 58%;
}

.buy-button:hover span {
    color: #e0aaff;
    transition: 0.3s;
}

.buy-button span {
    color: #03045e;
    font-size: 18px;
    transition: all 0.3s ease-in;
}
